.searchInput {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchSection svg {
    color: var(--text-400);
}

.option {
    color: var(--text-200);
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        background: var(--background-800);
    }
}

.optionSpan {
    width: 100%;
    white-space: nowrap;
}

.tooltip {
    background: var(--background-300);
    color: var(--text-950);
}
